HF_TOKEN=

# Wagtail Backend
HOST=127.0.0.1
BACKEND_SERVER_PORT=8000
VLLM_BASE_URL=http://127.0.0.1:8002/v1  # URL to call Aquifer vLLM server


# Slurm Backend
SLURM_SSH_HOST=kudu-taught # Destination host where we submit jobs to Batch System
SLURM_PROXY_JUMP=remote-59 # Jump host that have access to kudu
# These two hostnames must match the names in ~/.ssh/config otherwise include full host (e.g u2261259@remote-59.dcs.warwick.ac.uk)
SLURM_REMOTE_JOB_DIR=/dcs/large/u2261259/DCS_ICS_Interface/backend/slurmBackend/jobs # directory containing all job requests sent from wagtail to batch system
SLURM_REMOTE_REPO_DIR=/dcs/large/u2261259/DCS_ICS_Interface
SLURM_EMBEDDING_SCRIPT=/dcs/large/u2261259/DCS_ICS_Interface/backend/slurmBackend/run_embedding.sbatch
SLURM_LLM_SCRIPT=/dcs/large/u2261259/DCS_ICS_Interface/backend/slurmBackend/run_llm.sbatch
SLURM_GEMMA_SCRIPT=/dcs/large/u2261259/DCS_ICS_Interface/backend/slurmBackend/run_gemma.sbatch
SLURM_POLL_INTERVAL=2                       # how often backend monitors job status on kudu
SLURM_ALLOCATION_TIMEOUT=120                # wait up to 2 minutes for job allocation
SLURM_COMPLETION_TIMEOUT=900                # wait up to 15 minutes for job completion
SLURM_EMBEDDING_BS=8


# Embedding Aquifer
AQUIFER_EMBEDDING_MODEL=Qwen/Qwen3-Embedding-4B
AQUIFER_EMBEDDING_BS=8
AQUIFER_EMBEDDING_PORT=8001
AQUIFER_EMBEDDING_URL=http://127.0.0.1:8001
AQUIFER_EMBEDDING_HEALTH=http://localhost:8001/health

# LLM Aquifer
MAX_MODEL_LEN=8192
GPU_MEMORY_UTIL=0.8
AQUIFER_LLM_PORT=8002
AQUIFER_LLM_MODEL=Qwen/Qwen3-4B-Instruct-2507
QUANTIZATION=bitsandbytes
