SLURM_SSH_HOST=
SLURM_PROXY_JUMP=
SLURM_REMOTE_JOB_DIR=
SLURM_REMOTE_REPO_DIR=
SLURM_EMBEDDING_SCRIPT=
SLURM_LLM_SCRIPT=
SLURM_POLL_INTERVAL=2
SLURM_ALLOCATION_TIMEOUT=30
SLURM_COMPLETION_TIMEOUT=300
